.contenedor-integrantes{
    width: 1170px;
    margin: 3% auto;
    background: rgba(70, 65, 65, 0.61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-header{
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.titulo-header h2{
    text-transform: uppercase;
    margin: 0;
    color: #00fff2;
    font-size: 40px;
    letter-spacing: 5px;
}

.integrantes{
    width: 100%;
    height: 100%;
    float: left;
    box-shadow: 5px 5px 15px rgb(182, 11, 224);
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin:0 5px;
    background: chocolate;
}

.integrantes img{
    width: 100;
    height: 300;
}

.integrantes h3{
    margin: 0;
    font-size: 25px;
    color:black ;
}

.integrantes p{
    color: black;
}

.integrantes:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.integrantes:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}


.integrantes:hover:before{
    border-color: darkblue;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.integrantes:hover:after{
    border-color: darkblue;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
